# Nixpacks configuration for Railway deployment
# https://nixpacks.com/docs/configuration/file

[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "daphne -b 0.0.0.0 -p $PORT separacao_pmcell.asgi:application"
